<h1 style='--index: 20;'>Wow!</h1>
<h1 style='--index: 19;'>Wow!</h1>
<h1 style='--index: 18;'>Wow!</h1>
<h1 style='--index: 17;'>Wow!</h1>
<h1 style='--index: 16;'>Wow!</h1>
<h1 style='--index: 15;'>Wow!</h1>
<h1 style='--index: 14;'>Wow!</h1>
<h1 style='--index: 13;'>Wow!</h1>
<h1 style='--index: 12;'>Wow!</h1>
<h1 style='--index: 11;'>Wow!</h1>
<h1 style='--index: 10;'>Wow!</h1>
<h1 style='--index: 9;'>Wow!</h1>
<h1 style='--index: 8;'>Wow!</h1>
<h1 style='--index: 7;'>Wow!</h1>
<h1 style='--index: 6;'>Wow!</h1>
<h1 style='--index: 5;'>Wow!</h1>
<h1 style='--index: 4;'>Wow!</h1>
<h1 style='--index: 3;'>Wow!</h1>
<h1 style='--index: 2;'>Wow!</h1>
<h1 style='--index: 1;'>Wow!</h1>

<script>
  import gsap from 'gsap';

  document.addEventListener('pointermove', ({ x, y }) => {
    gsap.set('h1', {
      '--x': gsap.utils.mapRange(0, window.innerWidth, -10, 10, x),
      '--y': gsap.utils.mapRange(0, window.innerHeight, -10, 10, y)
    });
  });
</script>
